body{
    font-family:Arial, Helvetica, sans-serif;
    overflow:hidden;
}
a{
    color: #FFf;
    text-decoration: none;
}
a:hover{
    color: #FFf;
    text-decoration:none;
}
textarea{
    resize:none;
}
.navbar-toggler{
    margin-right:600px;
}
/* start upper navbar */
.upper-navbar nav{
    background-color:rgb(237, 237, 237);
    padding:5px;
}
.upper-navbar nav .nav-item .nav-link{
    color:#49afe1;
    font-size:15px;
}
.upper-navbar nav .nav-item .nav-link:hover{
    color:#0091da;
}
@media(max-width:992px){
    .upper-navbar nav .nav-item .nav-link,
    .upper-navbar nav .nav-item .dropdown-item{
        font-size:25px;
    }
}
/* end upper navbar */

/* start navbar */
nav{
    color:#fff;
    background-color:#49afe1;
}
nav .navbar-brand{
    font-size:20px;
}
nav .navbar-brand:hover{
    color: #fff;
}
nav .navbar-nav{
    margin-right:-23px;
}
nav .navbar-nav a:hover{
    color:rgb(231, 230, 230);
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: .5rem;
    font-size: 13px;
}
@media(max-width:992px){
    nav .navbar-brand{
        font-size:33px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        font-size:22px;
    }
}
/* end navbar */

/* start slider */
.slider .carousel-item{
    height:calc(100vh - 270px);
}
.slider .carousel-inner .overlay{
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    background-color:rgba(0, 0, 0, .4);
    z-index:2;
}
.slider .carousel-item{
    background-size:cover;
}
.slider .carousel-one{
    background-image:url(../images/01.jpg);
}
.slider .carousel-two{
    background-image:url(../images/02.jpg);
}
.slider .carousel-three{
    background-image:url(../images/03.jpg);
}

.text{
    position:absolute;
    top:50%;
    left:10%;
    transform: translate(-50px, -50px);
    z-index:3;
}
.text h3{
    color:#fff;
    font-size:20px;
    margin-bottom:20px;
}
.text h2{
    color:#fff;
    font-size:30px;
    margin-bottom:20px;
}
.text h2 span{
    color:#49afe1;
}
.text i{
    color:#49afe1;
    font-size:30px;
}
.text .btn1,
.text .btn2{
    padding:10px 20px;
    border: 2px solid #cec8bf;
    color: #fff;
    font-size: 16px;
    outline:none;
    cursor: pointer;
    margin-right:30px;
    margin-top:20px;
}
.text .btn1{
    background-color: #49afe1;
    margin-left:15px;
}
.text .btn2{
    background-color: #ff98011f;
    transition:all .4s ease-in-out;
}
.text .btn2:hover{
    background-color:#49afe1;
}
@media(max-width:992px){
    .slider {
        display:none;
    }
}
/* end slider */

/* start booking */
.booking{
    margin-top:-15px;
    margin-bottom:60px;
}
.booking .arrange1,
.booking .arrange2{
    display:flex;
    flex-direction: column;
    margin:20px;
}
.booking .arrange1{
    border: 2px solid #f0f0f0;
    padding:20px;
}
.booking .arrange2{
    border: 2px solid #f0f0f0;
    padding:20px;
}
.booking h2{
    text-align:center;
    margin-bottom:30px;
}
.booking .border{
    position:absolute;
    left:33%;
    top:18%;
    overflow:hidden;
    background-color:#49afe1;
    height:5px;
    width:30%;
}
.booking input{
    background:#ffffff;
    border:1px solid #f0f0f0;
    color:#848484;
    display:block;
    font-size: 16px;
    height: 45px;
    padding: 0 15px;
    width: 100%;
    transition: all 500ms ease;
    box-shadow: none;
    line-height: 44px;
    font-family: 'Hind', sans-serif;
    margin-bottom:9px;
    outline:none;
}
.booking button{
    background: #49afe1;
    border: 2px solid #49afe1;
    color: #fff;
    width:40%;
    height:55px;
    border-radius:9px;
    margin:auto;
    outline:none;
}
.booking a{
    color:#fff;
}
.booking button:hover a{
    color:#49afe1;
}
.booking button:hover{
    background-color: #fff;
    border: 2px solid #49afe1;
    color:#49afe1;
}
@media(max-width:992px){
    .booking h2{
        font-size:50px;
    }
    .booking .border{
        left:26%;
        top:22%;
        height:5px;
        width:50%;
    }
    .booking .form-control,
    .booking input{
        font-size:26px;
    }
    .booking button{
        width:50%;
        height:65px;
        font-size:26px;
    }
}
/* end booking */

/* start about us */
.about-us{
    margin-top:60px;
    background-color:#efefef5c;
    padding:30px;
}
.about-us .row{
    text-align: center;
}
.about-us h1{
    color: rgb(102, 102, 102);
    text-align:center;
    margin-bottom:40px;
}
.about-us i{
    color:#49afe1;
}
.about-us hr{
    background-color:#49afe1;
    margin-bottom:30px;
    height: 3px;
    width: 60px;
}
.about-us h2{
    color:#49afe1;
}
.about-us span{
    color:#868686;
    font-size:13px;
}
.about-us .col-sm{margin-bottom:50px;}
@media(max-width:992px){
    .about-us h1{
        font-size:50px;
    }
    .about-us hr{
        background-color:#49afe1;
        margin-bottom:30px;
        height: 6px;
        width: 75px;
    }
    .about-us h2{
        font-size:35px;
    }
    .about-us span{
        font-size:18px;
    }
}
/* end about us */

/* start doctors */
.popular-doctors h1{
    color: rgb(102, 102, 102);
}
.popular-doctors .card{
    margin:46px;
    box-shadow:5px 5px 15px #49afe1;
    transition: all .3s ease-in;
}
.popular-doctors .card:hover{
    box-shadow:5px 5px 15px #101010;
    background:#49afe1;
    color:#fff;
    border-radius:5px;
}
@media(max-width:992px){
    .popular-doctors h1{
        font-size:50px;
    }
    .popular-doctors .card .card-title{
        font-size:32px;
    }
    .popular-doctors .card .card-text{
        font-size:23px;
    }
    .popular-doctors .card .btn{
        font-size:26px;
    }
}
/* end doctors*/

/* start Footer */
.footer-section ul {
    margin: 0px;
    padding: 0px;
}
.footer-section{
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #49afe1;
  font-size: 30px;
  margin-top: 8px;
}
.cta-text {
  padding-right: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-left: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: rgb(182, 17, 17);
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left:0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #49afe1;
}
.footer-widget ul li {
  display: inline-block;
  float:left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #49afe1;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #49afe1;
    padding: 13px 20px;
    border: 1px solid #49afe1;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #49afe1;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #49afe1;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
@media(max-width:992px){
    .cta-text h4 {
        font-size:30px;
      }
      .cta-text span {
        font-size:20px;
      }
      .footer-logo {
        font-size:30px;
      }
      .footer-text p {
        font-size:20px;
      }
      .footer-social-icon span {
        font-size:28px;
      }
      .footer-widget-heading h3 {
        font-size:33px;
      }
      .footer-widget ul li {
        font-size:25px;
      }
      .footer-widget p{
        font-size:22px;
      }
      .subscribe-form input {
        padding: 18px 30px;
        font-size:23px;
      }
      .subscribe-form button {
          position: absolute;
          right: 0;
          background: #49afe1;
          padding: 13px 20px;
          border: 1px solid #49afe1;
          top: 0;
      }
      .subscribe-form button i {
        color: #fff;
        font-size: 22px;
        transform: rotate(-6deg);
      }
      .copyright-text p {
        font-size:23px;
      }
}
/* End Footer */

.loading{
    background:#e1e1e1;
    color:#fff;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:999;
}
.sk-fading-circle {
    margin: 260px auto;
    width: 60px;
    height: 60px;
    position: relative;
  }
  
  .sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #49afe1;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
            animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  }
  .sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  .sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  .sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg);
  }
  .sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg);
  }
  .sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg);
  }
  .sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg);
  }
  .sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  .sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg); 
  }
  .sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg); 
  }
  .sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; 
  }
  .sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; 
  }
  .sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; 
  }
  .sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; 
  }
  .sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; 
  }
  .sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; 
  }
  .sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; 
  }
  .sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
  }
  .sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
  }
  .sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
  }
  .sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s;
  }
  
  @-webkit-keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; }
  }
  
  @keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; } 
  }
/* Srart sign up and login */
.contain{
    position: relative;
    width:100%;
    min-height:100vh;
    background-color:#fff;
    overflow:hidden;
}
.contain:before{
    content:"";
    position: absolute;
    height:2000px;
    width:2000px;
    border-radius:50%;
   /* background:linear-gradient(-45deg, #ff9800, #1593ff);*/
   background:linear-gradient(-45deg, #4687a7, #185f9c);
    top:-10%;
    right:48%;
    transform: translateY(-50%);
    z-index:6;
    transition:1.8s ease-in-out;
}
.contain .forms-contain{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}
.contain .forms-contain .signin-signup{
    position: absolute;
    top:50%;
    left:75%;
    transform:translate(-50%, -50%);
    width:50%;
    display:grid;
    grid-template-columns:1fr;
    z-index:5;
    transition:1s 0.7 ease-in-out;
}
.contain .forms-contain form{
    display:flex;
    justify-content:center;
    text-align:center;
    flex-direction:column;
    padding:0 5rem;
    overflow:hidden;
    grid-column:1 /2;
    grid-row:1 /2;
    transition:0.2s 0.7s ease-in-out;
}
.contain .forms-contain form.sign-in-form{
    z-index:2;
}
.contain .forms-contain form.sign-up-form{
    z-index:1;
    opacity:0;
}
.contain .forms-contain .title{
    font-size:2.2rem;
    color:#444;
    margin-bottom:10px;
}
.contain .forms-contain .input-field{
    max-width:380px;
    width:100%;
    height:55px;
    background-color:#f0f0f0;
    margin:10px auto;
    border-radius:55px;
    display:grid;
    grid-template-columns:15% 85%;
    padding:-1px .4rem;
}
.contain .forms-contain .input-field i{
    text-align:center;
    line-height:55px;
    color:#acacac;
    font-size:1.1rem;
}
.contain .forms-contain .input-field input{
    background:none;
    outline:none;
    border:none;
    line-height:1;
    font-weight:600;
    font-size:1.1rem;
    color:#333;
}
.contain .forms-contain .btn{
    width:150px;
    height:50px;
    border:none;
    outline:none;
    border-radius:50px;
    cursor: pointer;
    background-color:#49afe1;
    color:#fff;
    text-transform:uppercase;
    font-weight:600;
    margin:10px auto;
    transition:.5s;
}
.contain .forms-contain .btn:hover{
    background-color:#49afe1;
}
.contain .forms-contain .social-text{
    padding:.7rem 0;
    font-size:1rem;
}
.contain .forms-contain .social-media{
    display:flex;
    justify-content:center;
}
.contain .forms-contain .social-icon{
    height:46px;
    width:46px;
    border:1px solid #333;
    margin:0 0.45rem;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    color:#333;
    font-size:1.1rem;
    border-radius:50%;
    transition:0.3s;
}
.contain .forms-contain .social-icon:hover{
    color:#49afe1;
    border-color:#49afe1;
}
.panels-contain{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.panels-contain .panel{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    justify-content:space-around;
    text-align:center;
    z-index:7;
}
.panels-contain .left-panel{
    pointer-events:all;
    padding:3rem 17% 2rem 12%;
}
.panels-contain .right-panel{
    pointer-events:none;
    padding:3rem 12% 2rem 17%;
}
.panels-contain .panel .content{
    color:#fff;
    transition:.9s .6s ease-in-out;
}
.panels-contain .panel h3{
    font-weight:600;
    line-height:1;
    font-size:1.5rem;
}
.panels-contain .panel p{
    font-size:0.95rem;
    padding:0.7rem 0;
}
.panels-contain .btn.transparent{
    margin:0;
    background:none;
    border:2px solid #fff;
    width:130px;
    height:41px;
    font-weight:600;
    font-size:0,8rem;
    color:#fff;
}
.panels-contain .image{
    width:100%;
    transition:1.1s .4s ease-in-out;
}
.right-panel .content, .right-panel .image{
    transform:translateX(800px);
}
/* Make animation */
.contain.sign-up-mode:before{
    transform:translate(100%,-50%);
    right:52%;
}
.contain.sign-up-mode .left-panel .image,
.contain.sign-up-mode .left-panel .content{
    transform:translateX(-800px);
}
.contain.sign-up-mode .right-panel .image,
.contain.sign-up-mode .right-panel .content{
    transform:translateX(0px);
}
.contain.sign-up-mode .left-panel{
    pointer-events:none;
}
.contain.sign-up-mode .right-panel{
    pointer-events:all;
}
.contain.sign-up-mode .signin-signup{
    left:25%;
}
.contain.sign-up-mode form.sign-in-form{
    z-index:1;
    opacity:0;
}
.contain.sign-up-mode form.sign-up-form{
    z-index:2;
    opacity:1;
}
.contain .forget{
    margin-top:20px;
    color: #0091da;
}
/* End sign up and login */

/* start sign in a doctor */
.sign-doctor{
    margin-top:50px;
    margin-bottom:50px;
}
.sign-doctor h2{
    color: rgb(102, 102, 102);
    text-align:center;
    margin-bottom:30px;
}
.sign-doctor .btn{
    padding:15px 30px;
    background-color:#49afe1;
    color:#fff;
}
@media(max-width:992px){
    .sign-doctor h2{
        font-size:50px;
    }
    .sign-doctor .form-group label{
        font-size:26px;
    }
    .sign-doctor .form-group input{
        font-size:35px;
    }
    .sign-doctor .input-group{
        font-size:30px;
    }
    .sign-doctor .btn{
        padding:15px 38px;
        font-size:30px;
    }
}
/* end sign in a doctor */

/* start contact us */
.contact-us{
    margin-top:50px;
    margin-bottom:50px;
}
.contact-us h2{
    color:#49afe1;
    margin-bottom:10px;
    font-size:22px;
}
.contact-us p{
    color: #989898;
    margin: 0px 0px 10px;
    font-size:13px;
}
.contact-us .conn{
    border-right: 1px solid rgb(224, 224, 224);
}
.contact-us .btn{
    padding:10px 20px;
    margin-left:92px;
    background-color:#49afe1;
    color:#fff;
}
.contact-us .social-media{
    display:flex;
    justify-content:left;
}
.contact-us .social-icon{
    height:46px;
    width:46px;
    border:1px solid #333;
    margin:0 0.45rem;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    color:#333;
    font-size:1.1rem;
    border-radius:50%;
    transition:0.3s;
}
.contact-us .social-icon:hover{
    color:#49afe1;
    border-color:#49afe1;
}
@media(max-width:992px){
    .contact-us h2{
        font-size:35px;
    }
    .contact-us p{
        font-size:20px;
    }
    .contact-us .form-group label{
        font-size:20px;
    }
    .contact-us .form-group input{
        font-size:24px;
    }
    .contact-us .btn{
        padding:14px 35px;
        font-size:26px;
    }
    .contact-us .social-icon{
        height:56px;
        width:56px;
    }
}
@media(max-width:576px){
    .contact-us .conn{
        border-right:none;
    }
}
/* end contact us */

/* start who us */
.who-us{
    margin-top:50px;
    margin-bottom:50px;
}
.who-us .list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #49afe1;
    border-color: #49afe1;
}
@media(max-width:992px){
    .who-us .list-group-item{
        font-size:35px;
    }
    .who-us .tab-pane{
        font-size:26px;
    }
}
/* end who us */

/* start blog */
.blogs{
    margin-top:50px;
    margin-bottom:50px;
}
.blogs h2{
    color:#49afe1;
    margin-bottom:20px;
    font-size:27px;
}
.blogs .card{
    margin-bottom:20px;
}
.blogs .read-more{
    display:none;
    background-color:#0091da;
    color:#fff;
    border: #0091da;
    padding:10px 15px;
}
.blogs .card:hover .read-more{
   display:block;
}
@media(max-width:992px){
    .blogs h2{
        font-size:40px;
    }
    .blogs .card{
        max-width:220px;
    }
    .blogs .card .card-title{
        font-size:35px;
    }
    .blogs .card .card-text{
        font-size:22px;
    }
    .blogs .read-more{
        padding:10px 15px;
        font-size:25px;
    }
     }
 @media(max-width:776px){
        .blogs .card{
            max-width:320px;
            margin-left:100px;
        }
         }
@media(max-width:576px){
    .blogs .card{
        max-width:300px;
        margin-left:100px;
    }
     }
/* end blog */

/* start payment */
.head-pay h2{
    color:#555555;
    padding-top:40px;
    padding-left:140px;
}
.containerr{
    padding-top:120px;
    color:white;
    text-align:center;
  }
  
a.contactt{
    display:inline-block;
    margin-bottom:20px;
    padding:18px 35px;
    margin-left:30px;
    line-height:22px;
    color:white;
    font-family:sans-serif;
    text-decoration:none;
    border-radius:30px;
    transition: all .6s;
    cursor:pointer;
  } 
.containerr .contact-whatsapp{
background-color: #25D366;
}

.containerr .contact-whatsapp:hover{
    background-color: darken(#25D366, 10%);
}

.containerr .contact-skype{
background-color: #f00;
}
.containerr .contact-skype:hover{
    background-color: darken(#f00, 10%);
}
/* end payment */
.our-buttons{
    margin:50px auto;
}
.our-buttons button{
    margin-bottom:20px;
    width:350px;
    height:250px;
    color:#fff;
    font-size:25px;
    cursor: pointer;
}
@media(max-width:992px){
    .our-buttons{
        margin:50px auto;
    }
    .our-buttons button{
        margin-bottom:20px;
        width:440px;
        height:340px;
        color:#fff;
        font-size:40px;
        cursor: pointer;
    }
}
.imgg{
    background-image:url(../images/04.jpg);
    background-size:cover;
    width:100%;
    height:45vh;
}
/* start filter */
.filter{
    margin-top:10px;
}
.filter nav{
    background-color:rgb(237, 237, 237);
    padding:20px;
    width:80%;
    margin:auto;
}
.filter nav .nav-item .nav-link{
    margin: auto 20px;
    color:#49afe1;
    font-size:15px;
}
.filter nav .nav-item .nav-link:hover{
    color:#0091da;
}
/* end filter */

/* start profiles */
.profiles{
    background: rgb(245, 245, 245);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin: 60px auto;
    width:80%;
    padding:12px;
    cursor:pointer;
}
.profiles img{
    width:100%;
}
.primc{
    color:#49afe1;
}
.alterc{
    color:#7e7e7e;
}
.stars i{
    color:rgb(255, 182, 36);
}
.profiles .card-body a{
    color:#49afe1;
}
.profiles .tanzem{
    display: flex;
}
.profiles .card{
    margin:13px;
}
.profiles .card-body a:hover{
    background-color:#49afe1;
    color:#fff;
}
.profiles .card-header{
    background-color:#49afe1;
}
.profiles .card-footer{
    background-color:red;
}
.profiles .card-footer a{
    color:#fff;
}
@media(max-width:992px){
    .profiles img{
        width:120%;
    }
    .profiles h2{
        font-size:46px;
    }
    .profiles span{
        font-size:35px;
    }
    .profiles p{
        font-size:25px;
    }
    .profiles .card{
        margin:18px;
    }
    .profiles .card-body {
        width:200px;
    }
    .profiles .card-body a{
        font-size:26px;
    }
    .profiles .card-header{
        background-color:#49afe1;
        font-size:23px;
    }
    .profiles .card-footer{
        background-color:red;
        font-size:23px;
    }
    .profiles .card-footer a{
        color:#fff;
    } 
}
/* end profiles */

/* start booking */
.star-rating{
	font-size: 0;
}
.star-rating__wrap{
	display: inline-block;
	font-size: 1rem;
}
.star-rating__wrap:after{
	content: "";
	display: table;
	clear:both;
}
.star-rating__ico{
	float: right;
	padding-left: 2px;
	cursor: pointer;
	color: #FFB300;
}
.star-rating__ico:last-child{
	padding-left: 0;
}
.star-rating__input{
	display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\f005";
}
/* start booking */
.main form{
    padding:30px;
}
.main form input,
.main form .form-control{
    margin-left:-130px;
}
.main form .form-group textarea{
    margin-left:10px;
}
.doctor {
    margin:40px;
    box-shadow: 1px 2px 2px 1px #c7c7c7;
    overflow: hidden;
    background:white;
  }
  .doctor-info{
    padding:30px;
  }
  .doctor-panel .doctor-name{
    color:#1ebef0;
  }
  .doctor-panel .doctor-speciality{
    color:#828688;
  }
  .doctor-profile {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin: 8px 1px 1px 5px;
  }
.main h2{
    color:#49afe1;
    margin-bottom:10px;
    font-size:22px;
}
.main p{
    color: #989898;
    margin: 0px 0px 10px;
    font-size:13px;

}
.main .btn{
    padding:10px 30px;
    margin-left:92px;
    background-color:#49afe1;
    color:#fff;
}
.addcom{
    padding:10px 30px;
    margin-left:9px;
    background-color:#49afe1;
    border:1px solid #49afe1;
    color:#fff;
}
.evaluation{
    padding:15px;
    margin:10px;
    box-shadow: 1px 2px 2px 1px #c7c7c7;
    background:white;
}
@media(max-width:992px){
      .doctor-profile {
        width:160px;
        height:160px;
        border-radius:50%;
        margin: 8px 1px 1px 5px;
      }
      .main .doctor-name,
      .main .doctor-speciality{
          font-size:40px;
      }
    .main h2{
        font-size:35px;
    }
    .main h4{
        font-size:33px;
    }
    .main p{
        font-size:23px;
    
    }
    .main form input,
    .main form .form-control{
         margin-left:-60px;
    }
    .main form label{
        font-size:24px;
    }
    .main form input,
    .main form .form-control,
    .main form textarea{
        font-size:24px;
    }
    .main .btn{
        padding:15px 50px;
        font-size:28px;
    }
    .writ-comm h2{
        font-size:40px;
    }
    .writ-comm textarea{
        font-size:28px;
    }
    .addcom{
        padding:10px 30px;
        font-size:28px;
    }
    .evaluation p{
        font-size:23px;
    }
    .evaluation span{
        font-size:20px;
    }
}
/* end booking */

/* start panel doctor */
i{
    cursor: pointer;
}
:root{
    --main-color:#49afe1;
    --color-dark:#1d2231;
    --text-gray:#8390a2;
}
#sidebar-toggle{
    display:none;
}
.sidebar{
    height:100%;
    width:240px;
    position:fixed;
    left:0;
    top:0;
    z-index:100;
    color:#fff;
    background:var(--main-color);
}
.sidebar-header{
    display:flex;
    justify-content:space-around;
    align-items:center;
    height:60px;
    padding:0rem 1rem;
}
.sidebar-menu{
    padding:1rem;
}
.sidebar li{
    margin-bottom:1.2rem;
    list-style:none;
}
.sidebar a{
    color:#fff;
    font-size:.9rem;
}
.sidebar a span:last-child{
    padding-left:.6rem;
}
#sidebar-toggle:checked ~ .sidebar{
    width:auto;
}
#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span:last-child,
#sidebar-toggle:checked ~ .sidebar li span:last-child{
    display:none;
    text-align:center;
}
#sidebar-toggle:checked ~ .main-content{
    margin-left:180px;
}
.main-content{
    position: relative;
    margin-left:240px;
    transition:margin-left 500ms;
}
header{
    position:fixed;
    top:0;
    left:240px;
    z-index:1000;
    width:calc(100% - 240px);
    background:#fff;
    height:60px;
    padding:0rem 1rem;
    display:flex;
    align-items:center;
    justify-content:space-between;
    border-bottom:1px solid #ccc;
    transition:left 500ms;
}
.search-wripper{
    display:flex;
    align-items:center;
}
.search-wripper input{
    border:0;
    outline:0;
    padding:1rem;
    height:38px;
}
.social-icons{
    display:flex;
}
.social-icons span,
.social-icons div{
    margin-left:1.2rem;
    cursor: pointer;
}
.social-icons div{
    height:38px;
    width:38px;
    background-size:cover;
    background-repeat:no-repeat;
    background-image:url('../images/doctor3.png');
    border-radius:50%;
    cursor: pointer;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin-top:160px;
    padding: 0;
    width: 100%;
    table-layout:fixed;
  }
table caption {
    font-size: 1.5em;
    margin: -12.5em 2em .75em;
  }
@media(max-width:1050px){
    table caption {
        display:none;
      }
     }
table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
table th,
table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }
/* end panel doctor */

.alert{
    margin:20px;
}
.chat i{
    position:absolute;
    top: 270px;
    left: 350px;
    font-size:30px;
    color:#fff;
    background-color: #49afe1;
    border-radius:50%;
    padding:10px;
    cursor: pointer;
    z-index:9;
}
@media(max-width:992px){
    .alert .alert-heading{
        font-size:50px;
    }
    .alert p{
        font-size:24px;
    }
}
/* start forget password */
.forget-pass{
    background-color:white;
    border:1px solid rgb(220, 220, 220);
    height:350px;
    padding:30px;
    margin:100px auto;
    text-align: center;
}
.forget-pass h4{
    margin-bottom:30px;
    color:#6d6d6d;
}
.forget-pass input{
    width:400px;
    margin-left:65px;
}
.forget-pass button{
    padding:10px 20px;
    background-color:#49afe1;
    border:1px solid #49afe1;
    color:#fff;
    margin-left:40px;
}
@media(max-width:992px){
    .forget-pass{
        height:480px;
        padding:50px;
    }
    .forget-pass h4{
        font-size:40px;
    }
    .forget-pass input{
        width:500px;
        height:60px;
        font-size:24px;
    }
    .forget-pass button{
        font-size:28px;
    }
}
/* end forget password */